:root {
    --primary-bg-color: #2c3542;
    --calendar-bg-color: #1e242d;
    --calendar-border-color: #0f1319;
    --calendar-buttons-color: #cd7f1a;
    --weekdays-color: #78879e;
    --days-color: #ddd;
    --current-day-color: #ef9011;
    --event-bg-color: #00a3ff;
    --popup-bg-color: #161b22;
}